<style>
    .expanded-image img {
        width: 100%;
    }
    .image-gallery {
        overflow: auto;
        margin-left: -1%!important;
    }
    .image-gallery a {
        float: left;
        display: block;
        margin: 0 0 1% 1%;
	/*width: 24%;*/
        text-align: center;
        text-decoration: none!important;
    }
    .image-gallery a img {
        width: 100%;
        display: block;
        opacity: 0.8;
        cursor: pointer;
    }
    .image-gallery a img:hover {
        opacity: 1;
    }
</style>

<script type="text/javascript">
function setExpandedImage(image) {
    var expandImg = document.getElementById("expanded-image");
    expandImg.src = image.src;
    expandImg.alt = image.alt;
}
</script>

<p class="expanded-image">
  {% assign firstitem = page.gallery[0] %}
  <img id="expanded-image" src="{{ firstitem.file }}" alt="{{ firstitem.name }}" />
</p>

{% if include.width %}
    {% assign imagewidth = include.width | minus: 1 %}
{% else %}
    {% assign imagewidth = 24 %}
{% endif %}

<p class="image-gallery">
  {% for item in page.gallery %}
  <a style="width:{{ imagewidth }}%">
      <img src="{{ item.file }}" alt="{{ item.name }}" title="{{ item.name }}"
        onclick="setExpandedImage(this)" />
    </a>
  {% endfor %}
</p>
